
.header {
    //background-color: #3333ff;
    height: 100px;
    width:  800px;
    background: url(headerImage.jpg);
    //text-align: center;
    //border-bottom:  black;
}

.sidebar {
    //background-color: #3333ff;
    height: 400px;
    width:  25px;
    float:  left;
    background-color:  yellowgreen;
}

.footer {
    width: 800px;
    height: 25px;
    background-color:  yellowgreen;
}

.content {
    width:  800px;
    height:  400px;
    text-align:  center;
    background-color:  yellowgreen;
}

.table {
 width:  400px;
}

.container {
width:  800px;
margin: 0 auto;
}

.titleBar {
width:  800px;
height:  25px;
background-color:  yellowgreen;
font-family:  fantasy;
color:  azure;
text-align:  center;
}

.body {
background-color:azure;
}

.rightSideBar {
height: 400px;
    width:  25px;
    float:  right;
    background-color:  yellowgreen;

}
